{% extends "base.html" %}
{% load django_markdown %}

{% block blog_posts %}
{% for object in object_list %}
<div class="post">
  <h2><a href="{% url "post_detail" slug=object.slug %}">{{ object.title }}
  </a></h2>
  <p class="post-meta">
    {{ object.created }} tagged under {% for tag in object.tags.all %}
    <a class="post-category post-category-js" href="{% url "tag_index" slug=tag.slug %}">
      {{ tag }}
    </a>
    {% endfor %}
  </p>
  {{ object.body_html|safe|truncatewords:"50"|linebreaks }}
  <a href="{% url "post_detail" slug=object.slug %}">read more</a>
</div>
{% endfor %}
{% endblock %}

